* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
       min-height: 100vh;
       background-color: #bbbbeb;
       display: grid;
       place-items: center;
}

p{
    font-family:monospace;
    font-size:150%;
    font-weight:bold;
    margin-right:1100px;
    text-align:initial;
    color:aliceblue;
}

h2{
    color: aliceblue;
    font-family:monospace;
    font-weight: bold;
    font-size: 250%;
    margin-right: 1200px;
    text-align: center;
}

.calculadora {
    background-color: #a9a9f3;
    color: white;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   width: 350px;
   max-width: 100%;
   padding: 1.5rem;
   border-radius: 1rem;
   gap: .5rem;

}

.pantalla {
    grid-column: 1/ -1;
    background-color: #8a8af1;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn {
    background-color: #8a8af1;
    color: black;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    font-family: monospace;
    font-size: 150%;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #7575f2;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #5353f4;
}

#igual:hover {
    background-color: #333387;
}